body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #000;
  color: #fff;
}

.data-cell {
  background: inherit;
  border: 1px solid #999;
  float: left;
  color: inherit;
  font: inherit;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

/* for empty space at top left of matrix */
.hidden-cell {
  border: 1px solid black;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  width: 70px;
}

.calculate-button {
  /* float: right; */
  margin-top: 10px;
}

.add-row-col-button {
  margin: 5px
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* hide arrow button control for input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}