body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #000;
  color: #fff;
}

.data-cell {
  background: inherit;
  border: 1px solid #999;
  float: left;
  color: inherit;
  font: inherit;
  line-height: 35px;
  height: 35px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.hidden-cell {
  border: 1px solid black;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  width: 70px;
}

.first-col-hidden-cell {
  border: 1px solid black;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  width: 35px;
}

.calculate-button {
  background: inherit;
  color: inherit;
  margin-top: 10px;
}

.mod-row-button {
  background: inherit;
  color: inherit;
  border-color: #999;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.mod-col-button {
  background: inherit;
  color: inherit;
  border-color: #999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-info {
  margin-top: 40px
}

/* hide arrow button control for input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}