body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #000;
  color: #fff;
}

.square {
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

ol, ul {
  padding-left: 30px;
}

/* hide arrow button control for input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}